  <%= flash[:notice] %>

  <% if !@user.nil? %>
  <form action='/sessions/<%= @user.id %>' method='POST' >
    <input type="hidden" name="_method" value='DELETE'>
    <input type='submit' value='Log out' name='Log out'>
  </form>
  <% else %>
  <a class="control" href="/users/new" name="Sign up">Sign up</a>
  <a class="control" href="/sessions/new" name="Log in">Log in</a>
  <% end %>

<div class="ext-controller"> 
  <h1>Spaces available</h1>
  <% @spaces.each do |space| %>
  <div id="<%= space.id %>">
    <form action='/requests' method='post'>
    <ul>
      <li>Space description: <%= space.description %></li>
      <li>Location: <%= space.location %></li>
      <li>Availability: <input name='date' type="date" value="<%= space.start_date %>" min="<%= space.start_date %>" max="<%= space.end_date %>">
      </li>
      <li>Email: <%= space.email %></li>
      <li>Price per night: <%= space.price %></li>
    </ul>
      <input type='hidden' name='space_id' value=<%= space.id %>>
      <% if !@user.nil? %>
      <input type='submit' name="rent-<%= space.id %>" value='Rent me'>
      <% else %>
      Log in to rent!
      <% end %>
    </form>
  </div>
  <% end %>
  <br>
  <% if !@user.nil? %>
  <form action='/spaces/new'>
  <input type='submit' value='List new space'>
  </form>
  <% else %>
  Log in to list a new space!
  <% end %>

</div>
